body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: #06031d;
}
a
{
    position: absolute;
    padding: 15px 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}
a span
{
    position: absolute;
    display: block;
    background: #03a9f4;
}
a span:nth-child(1)
{
    top: 0;
    left: 0;
    transform: translateY(0);
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(1)
{
    transition: 0.5s;
    transform: translateY(-100%);
}
a span:nth-child(4)
{
    top: 0;
    right: 0;
    transform: translateY(0);
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(4)
{
    transition: 0.5s;
    transform: translateY(100%);
}
a span:nth-child(2)
{
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 2px;
}
a:hover span:nth-child(2)
{
    transform: translateX(100%);
    transition: 0.75s;
    transition-delay: 0.25s;
}
a span:nth-child(5)
{
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 2px;
}
a:hover span:nth-child(5)
{
    transform: translateX(-100%);
    transition: 0.75s;
    transition-delay: 0.25s;
}
a span:nth-child(3)
{
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(3)
{
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}
a span:nth-child(6)
{
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(6)
{
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}