@charset "utrf-8";

body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c52c27;
    width: 630px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 380px;
    height: 380px;
    background-color: #fff;
    border-radius: 50%;
    border: 20px solid #fed106;
}

#triangle1 {
    position: absolute;
    left: 230px;
    top: 45px;
    width: 300px;
    height: 240px;
    background-color: #fed106;
    clip-path: polygon(100% 0%, 0 100%, 35% 100%);
}

#middle {
    position: absolute;
    left: 150px;
    top: 220px;
    width: 310px;
    height: 240px;
    background-color: #fed106;
    clip-path: polygon(70% 0%, 100% 0, 40% 75%, 15% 75%);
}

#triangle2 {
    position: absolute;
    left: 120px;
    top: 335px;
    width: 300px;
    height: 240px;
    background-color: #fed106;
    clip-path: polygon(65% 0%, 0% 100%, 100% 0%);
}

@keyframes raio {
    0%
}