@charset "utf-8";

.flip-container {
    perspective: 100;
    width: 100vw;
    height: 100vh;
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 00px;
    left: 200px;
    transition: transform 0.6s linear;
}

.front {
    z-index: 2;
    background-color: aqua;
    transform: rotateY(0);
}

.back {
    transform: rotateY(180deg);
    background-color: #000;
}

.flip-container:hover .front {
    transform: rotateY(-180deg);
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    backface-visibility: visible;
}